ClientApp/TestWebSocketWindowsApp/bin/Debug/Newtonsoft.Json.xml
ClientApp/TestWebSocketWindowsApp/bin/Debug/TestWebSocketWindowsApp.exe.config
ClientApp/TestWebSocketWindowsApp/obj/Debug/ApiAndWebSocketTestWindowsApp.csproj.FileListAbsolute.txt
ClientApp/TestWebSocketWindowsApp/obj/Debug/TestWebSocketWindowsApp.CreateUserForm.resources
ClientApp/TestWebSocketWindowsApp/obj/Debug/TestWebSocketWindowsApp.MainForm.resources
ClientApp/TestWebSocketWindowsApp/obj/Debug/TestWebSocketWindowsApp.Properties.Resources.resources
ClientApp/TestWebSocketWindowsApp/obj/Debug/TestWebSocketWindowsApp.UpdateUserCoordinateForm.resources
ClientApp/VAppApiServiceAccess/bin/Debug/Newtonsoft.Json.xml
ClientApp/VAppApiServiceAccess/obj/Debug/VAppApiServiceAccess.csproj.FileListAbsolute.txt
ClientApp/packages/EngineIoClientDotNet.0.9.22/EngineIoClientDotNet.0.9.22.nupkg
ClientApp/packages/JWT.1.3.4/JWT.1.3.4.nupkg
ClientApp/packages/Newtonsoft.Json.8.0.1/Newtonsoft.Json.8.0.1.nupkg
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/net20/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/net35/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/net40/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/net45/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.1/tools/install.ps1
ClientApp/packages/Newtonsoft.Json.8.0.3/Newtonsoft.Json.8.0.3.nupkg
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/net20/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/net35/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/net40/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/net45/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
ClientApp/packages/Newtonsoft.Json.8.0.3/tools/install.ps1
ClientApp/packages/SocketIoClientDotNet.0.9.13/SocketIoClientDotNet.0.9.13.nupkg
ClientApp/packages/WebSocket4Net.0.14.1/WebSocket4Net.0.14.1.nupkg
